body {
    background-color: lightblue;
}

p,
h2,
img {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    margin: 0;
    padding: 0;
}

li {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: masonry;
    gap: 10px;

    list-style: none;

    background-color: rgb(115, 159, 233);
    border: 2px solid rgb(22, 64, 216);
}

@media (min-width: 600px) {
    ul {
        grid-template-columns: 1fr 1fr;
        margin: auto;
        width: 80%;
    }

    li:nth-child(n) {
        grid-column: span 2;
    }
}

li h2 {
    color: rgb(8, 8, 112);
}

li p {
    grid-column: 2;
    color: rgb(27, 76, 184);
}

li img {
    height: 100%;
    grid-row: span 2;
    object-fit: cover;
}
